*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
}
body{
    height : 100vh;
    background-color: deepskyblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color :white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
  
}
.container p{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80vw;
    background-color:purple;
    border-radius: 20px;
    min-height:15vh;
    color:white;
    font-size: x-large;
   margin :4rem 0;
   padding :1rem;
}
.container button{
background-color: blue;
color : white;
border-radius: 20px;
    height:3rem;
    width:10rem;
    font-size: larger;
}